.u-body {
	background-color: #EDEDED;
	font-family: "Nunito", sans-serif;
}

.u-section-1 .u-sheet-1 {
  min-height: 1507px;
}

.u-section-1 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-1 .u-slider-1 {
  min-height: 499px;
  height: auto;
  margin-top: -10px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 309px;
  margin: 0 60px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 60px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-image-2 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 11px;
  position: absolute;
  top: 165px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  top: 165px;
  right: 11px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 12px 0 0;
}

.u-section-1 .u-blog-1 {
  margin-top: 76px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 461px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
  height: 301px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 17px 0 0;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-4 {
  height: 301px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 17px 0 0;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-5 {
  height: 301px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 17px 0 0;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
    min-height: 380px;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 543px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: -413px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    min-height: 873px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-6 {
    margin-top: 1026px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: -896px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-1 .u-image-2 {
    height: 190px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-blog-1 {
    margin-top: -881px;
  }
}